<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Dashboard</title>

</head>

<body>
    <!-- Sidebar -->
    <div class="responsive-div">
    <div class="sidebar">
        <div class="sidebar-item">
            <img src="https://img.icons8.com/ios/50/000000/dashboard.png" alt="Dashboard Icon">
            <span>Dashboard</span>
        </div>
        <div class="sidebar-item">
            <img src="https://img.icons8.com/ios/50/000000/user.png" alt="Users Icon">
            <span><a href="/register">Users</a></span>
        </div>
        <div class="sidebar-item">
            <img src="https://img.icons8.com/?size=50&id=1476&format=png&color=000000" alt="Support Icon">
            <span><a href="/viewdata">Data Entry</a></span>
        </div>
        <div class="sidebar-item">
            <img src="https://img.icons8.com/ios/50/000000/clipboard.png" alt="Tasks Icon">
            <span><a href="/documents">Documents</a></span>
        </div>
        <div class="sidebar-item">
            <img src="https://img.icons8.com/?size=50&id=2445&format=png&color=000000" alt="Tasks Icon">
            <span><button mat-raised-button (click)="onLogout()">Logout</button></span>
        </div>
    </div>
</div>
    <!-- Main Content Area -->
    <div class="table-container">
    <div class="main-content">
        <div class="container">
            <div class="box">
                <a href="/viewfile">
                    <div class="box-icon">
                        <img src="https://img.icons8.com/?size=50&id=11651&format=png&color=000000" alt="User Icon">
                    </div>
                    <div class="box-content">
                        <h3>Today's File Uploads</h3>
                        <p>Total Uploads:{{ uploadCount }}</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/documents">
                    <div class="box-icon">
                        <img src="https://img.icons8.com/?size=50&id=67464&format=png&color=000000" alt="Ticket Icon">
                    </div>
                    <div class="box-content">
                        <h3>No of File Uploads</h3>
                        <p>Total Files: {{ totalFiles }}</p>
                    </div>
                </a>
            </div>
            <div class="box">
                <a href="/viewuser">
                    <div class="box-icon">
                        <img src="https://img.icons8.com/ios/50/000000/user.png" alt="User Icon">
                    </div>
                    <div class="box-content">
                        <h3>Total Users</h3>
                        <p>Total Users: {{ totalUsers }}</p>
                    </div>
                </a>
            </div>
          
                <div class="chat" style="width:900px;">
                
                    <canvas id="myChart"></canvas>
                  </div>
               
                <div class="title">
                    <img src="https://img.icons8.com/?size=50&id=22051&format=png&color=000000" alt="Tasks Icon">
            <span>Recent Activity</span>
                </div>
                <table class="rwd-table">
                    <tbody>
                      <tr>
                        <th>File Name</th>
                        <th>Link</th>
                        <th>Date</th>
                        
                      </tr>
                     
                      <tr *ngFor="let file of files">
                        <td>{{file.originalfile }}</td>
                        <td>{{file.filePath}}</td>
                        <td>{{file.uploadDate| date:'short'}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="files.length === 0">
                  
                        <div class="text" data-text="No Recent Activity today.......">No Recent Activity today.......</div>
                      
                  </div>
            <div>
              </div> 
        </div>
        
    </div>
</div>  

</body>

</html>
