<footer>
    <div class="container">
      <div class="wrapper">
        <div class="footer-widget">
          <a href="#">
            <img src="../../../assets/logo-1.png" class="logo" />
          </a>
          <p class="desc">
            Data management is the practice of collecting, organizing, protecting, and storing data so it can be used to make business decision
          </p>
          <ul class="socials">
            <li>
              <a href="#">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-twitter-x"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Quick Link</h6>
          <ul class="links">
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">service</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Services</h6>
          <ul class="links">
            <li><a href="#">Hospital Services</a></li>
            <li><a href="#">diagnostic Centres</a></li>
            <li><a href="#">Medicine services</a></li>
            <li><a href="#">Disease Control</a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6>Help &amp; Support</h6>
          <ul class="links">
            <li><a href="#">support center</a></li>
            <li><a href="#">live chat</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">terms &amp; conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright-wrapper">
        <p>
          Design and Developed by
          <a href="#" target="blank">TechnoLab © 2025</a>
        </p>
      </div>
    </div>
  </footer>




